body {
  background-color: #BC71D8;
  font-family: 'Karla';
  margin-top: 100px;

}

header {
  background: #BC71D8;
position: fixed;
width: 100%;
top: 0;
display: flex;
 justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#vid-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#header-img {
  display: inline-block;
  height: 85px;
  width: 155px;
  background: red;
}

nav {
  display: inline-block;
  width: 75%;
  max-width: 100%;
  text-align: right;
  padding-bottom: 10px;
}

@media (max-width: 600px){
  header {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  nav {
    text-align: center;
  }
}

/* @media (max-width: 600px){
  nav  {
    display: flex;
    justify-content: center;
    align-items: center;

    background: red;
  }
} */

nav a {
  color: #A6D7DE;
  margin: 20px;
  font-size: 25px;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
  }

input[type="submit"] {
  max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
}

id {
  background: white;
}

#submit {
  border-radius: 2px;
  border: 0 2px solid;
  border-color: blue;
}

h1 {
  color: red;
}
