body {
  background-color: #EAEDF3;
  font-family: 'Karla';
  margin-top: 160px;
}



@media (max-width: 600px){
  body {
    margin-top: 220px;
  }
 }

header {
  background: #FFFFFF;
position: fixed;
/*   margin-right: 10px; */
width: 100%;
top: 0;
display: flex;
/* box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08); */
 justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
}

#vid-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
}

#header-img {
  display: inline-block;
  height: 125px;
  width: 145px;
  background: red;
}

nav {
  display: inline-block;
  width: 75%;
  max-width: 100%;
  text-align: right;
  padding-bottom: 10px;
  padding-right: 15px;
}

@media (max-width: 600px){
  header {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  nav {
    text-align: center;
  }
}
nav a {
  color: #DA7F3E;
  margin: 20px;
  font-size: 25px;
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
/*   border: 3px solid #A6D7DE; */

}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*   background-color: lightgray; */
  text-align: center;
  /* max-width: 700px; */
  margin-top: 85px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 600px){
  #intro {
    margin-top: 180px;
  }
}

input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    font-family: 'Karla';
  }

input[type="submit"] {
  font-family: 'Karla';
    max-width: 100%;
    width: 320px;
    height: 40px;
    margin: 15px 0;
    font-size: 16px;
    border-radius: 2px;
    border: 0 2px solid;
    box-shadow: 0 15px 30px 0
      rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
}

#features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
/*   background-color: lightgray; */
}

/* #pricing #price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 45px;
   background-color: lightgray;
   column-count: 3;
  column-gap: 20px;
  max-width: 100%;
  max-height: 100%;
   flex-wrap: wrap;
} */

#pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
/*   border: 3px solid black; */
  margin: auto;
  width: 94%;
}

#headprice {
  text-align: center;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
/*     border: 3px solid black; */
/* background-color: red; */
}

  @media (max-width: 850px) { #pricing {
/*       background-color: blue; */
      flex-wrap: wrap;
  }
}
.pricetab {
/*   border: 5px solid lightgray; */
  background-color: #EAEDF3;
  padding: 10px;
  width: 100%;
  margin-top: -10px;
    border-radius: 6px;
/*   border: 1px solid black; */

}




#howlabel {
  text-align: center;
}

/* #price {
  display: grid;
  grid-template-columns: auto auto auto;
} */


 #price {

   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 5px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;

}

#how {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
/*   background-color: lightgray; */
}

footer {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*   width: 500px; */
  margin: auto;
  margin-bottom: 25px;
  max-width: 50%;
 border-radius: 20px;
  /*margin-right: 250px;
  margin-bottom: 10px;
  padding-right: 10px; */
  box-shadow: 0 15px 30px 0
      rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
}

ul {
  display: flex;
  justify-content: flex-end;
}

#price li {
  list-style-type: none;
  padding-right: 45px;
}

footer li {
  margin: 10px;
  list-style-type: none;
}

span {
  margin-bottom: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
}

section {
  margin: 5%;
}

.btn {
    width: 100px;
    height: 35px;
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}


id {
  background: white;
}
