body {
  background-color: lightgray;
  font-family: 'Karla';
}

h1 {
  color: pink;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

form {
  background-color: white;
  box-shadow: 0 10px 20px black;
  display: grid;
  grid-template-areas:
      "description"
      "column1 column2"
      "submit";
}


#description {
  grid-area: description;
  display: inline-block;
}

label {
  grid-area: column1;
}



input {
  grid-area: column2;
}

input {
  margin: 5px;
}
