

body {
  background-color: lightgray;
  font-family: 'Karla';
}

h1 {
  color: red;
}

form {
  background-color: white;
  box-shadow: 0 10px 20px black;
  display: grid;
  grid-template-areas:
      "description"
      "column1 column2"
      "submit";
}

input {
  margin: 5px;
}
