body {
  background-color: lightgray;
  font-family: 'Karla';
}

h1 {
  color: white;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

form {
  background: linear-gradient(55deg,#CCFFFF,#FFCCCC);
  margin: auto;
  box-shadow: 0 10px 20px black;
  padding: 35px;
  width: 80%;
  max-width: 80%;
}


.label {
  display: inline-block;
  text-align: right;
  width: 45%;
  max-width: 60%;
  padding: 5px;
  margin-top: 10px;
  color: white;
}

.rightside {
  display: inline-block;
  text-align: left;
  width: 45%;
  max-width: 60%;
  vertical-align: middle;
  margin: 5px;
  color: white;

}

#description {
color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
}

input {
  margin: 5px;
  box-shadow: 0 1px 2px black;
}


#submit {
  background-color: pink;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin-top: 10px;
  margin-left:40%;
  border: 0px solid;
  box-shadow: 0 1px 2px black;
}
